
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";
// Variables
// @import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';
//
//
// // @import '~owl.carousel/dist/assets/owl.carousel.css';
// // @import '~owl.carousel';
// .navbar-laravel {
//   background-color: #fff;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
// }
