
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";
 // @import '~owl.carousel/dist/assets/owl.carousel.css';

//put the mixin for responsive

// Variables
@import 'variables';

@mixin mobile
{
    @media only screen and (max-width: 768px) {
        @content;
    }
}

@mixin medium
{
    @media only screen and (min-width: 630px) and (max-width: 768px)   {
        @content;
    }
}
@mixin lapTop
{
    @media only screen and (min-width: 769px) {
        @content;
    }
}


// Bootstrap
@import '~bootstrap/scss/bootstrap';

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body{
   background-color: white;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

html , body
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}



.hidden{
  display: none;


}

h1.centerHeader{
    text-align: center;
    color: #00263E;
    padding: 30px 0;
    height: 173px;
    width: 100%;
    font-size: 57px;
    // font-size: 70px;
    margin: 10px 0;
    background-repeat: no-repeat;
    font-family: customRegular;
}



header
{
      position: absolute;
      width: 100%;
      z-index: 600;
      transition: .6s;

       &.fixed
       {
           position: fixed;
           // background-color: #205271;
           background-color: rgba(0, 38, 62, 0.9);
           box-shadow: 2px 2px 5px black;
           img{
             margin: 15px auto;
           }
           #p_menu{
             top: 25px;
           }
       }

    img
    {
        @include lapTop{
          left: 0;
          right: 0;
          display: table;
          text-align:  center;
          margin: 30px auto;
        }

        @include mobile{
            width: 100px;
            position: absolute;
            right: 15px;
            top: 15px;
            z-index: 1000;
        }
        @include medium{
            width: 100px;
            position: absolute;
            right: 15px;
            top: 15px;
            z-index: 1000;
        }
    }//End img

    #p_menu
    {
       // font-family: customRegular;
       text-align: left;
       color: white;
       position: absolute;
       top: 40px;
       left: 55px;
       text-shadow: 2px 3px 5px black;
       cursor: pointer;
       transition: .3s;
           font-size: 15px;
       i{  margin-bottom: 2px;  }
       @include mobile{
         top: 18px;
         left: 23px;
       }
       @include medium{
         top: 18px;
         left: 23px;
       }
       &:hover{
         transform: scale(1.3);
       }
    }//End #p_menu

  text-decoration: none;

    #menu_content
    {
      a{
        text-decoration: none;
      }

        position: fixed;
        background-color: rgb(0,38,62,0.9);
        // height: 100%;
        min-height: 600px;
        width: 26%;
        color: #939393;
        overflow-y: auto;
        font-family: customRegular;
        @include mobile{ width: 100%; z-index: 900; }
        @include medium{ width: 80%; z-index: 900; }
        p.close_menu {
             padding: 19px 30px 0px 30px;
             cursor: pointer;
             z-index: 600;
        }
        ul
        {
            list-style: none;
            overflow-y: auto;
            li
            {
                font-size: 20px;
                padding: 6px 5px;
                a{

                    color: #939393;
                    padding: 1px 1px 5px 5px;
                    &:hover
                    {
                        text-decoration: none;
                        color: white;
                        border-bottom: 1px solid #939393; //hear
                    }
                }
                &.not_clickable
                {
                   border-bottom: none;
                   & > a{
                     border-bottom: none;
                     color: white;
                   }
                   & > a:hover{
                     text-decoration: none;
                   }
                }
            }//End li
        }//end ul
    }//End #menu_content

}//End header

.get_fromupToDown{
  animation: go_ltr 1.5s 0s ;
}
.get_fromDownToup{
  animation: go_rtl 1.5s 0s ;
}



@keyframes go_ltr
{
    // from { transform: translateY(100px) scaleY(0) ;  }
    // to { transform: translateY(0px) scaleY(1);  }

      0% {
         // opacity: 0;
         transform: translateY(-60px);
      }
      100% {
         // opacity: 1;
         transform: translateY(0);
      }
}

@keyframes go_rtl
{
    // from { transform: translateY(-100px) scaleY(0);  }
    // to { transform: translateY(0px) scaleY(1);   }

    0% {
       opacity: 0;
       transform: translateY( 40px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
}


.banner
{
    position: relative;
    img
    {
         width: 100%;
         max-height: 600px;
         position: relative;
         -webkit-filter: brightness(70%);
         @include mobile{  height: auto;  }
    }
    .inner
    {
        z-index: 100;
        color: white;
         position: absolute;
         width: 50%;
         height: 30%;
         height: 35%;
         margin: auto;
         top: 0; left: 0; bottom: 0; right: 0;
         text-align:  center;
         @include mobile{
           width: 75%;
           top: -50px;
         }
         .h1_contaner
         {
             padding: 5px 2px;
             overflow: hidden;
             transition: .5s;
         }
         h1{
               font-size: 69px;
               font-family: customRegular;
               @include mobile{ font-size: 26px; }
               animation: go_ltr 1.5s 0s ;
               transition: .8s;
         }
         p{
           font-family: customRegular;
           // animation: go_rtl 1.5s 0s ;
         }
    }
}//End .banner

footer
{
   background-color: #00263E;
   color: white;
   padding: 50px 10px 10px 10px;
   text-align: center;
   font-family: customRegular;
   ul{
       list-style: none;
       li{
          padding: 5px;
       }
   }
   a
   {
       font-family: customRegular;
       color: white;
       &:hover{
         text-decoration: none;
       }
   }
   .row div:nth-of-type(2)
   {
       border-left: 1px solid #a2a2a2  ;
       border-right: 1px solid #a2a2a2  ;
       padding-top: 35px;
       @include mobile{
         border-top: 1px solid #a2a2a2  ;
         border-bottom: 1px solid #a2a2a2  ;
       }

       p:first-child {
          width: 50%;
          margin: 0 auto;
          display: table;
          margin-bottom: 5px;
       }
       p:last-child{
         font-size: 30px;
       }
   }
   .row div:last-of-type
   {
        p{
          padding-top: 54px;
          font-size: 30px;
              margin-bottom: 0px;
        }
        .icons a
        {
          i{
               font-size: 23px;
               margin: 5px;
           }
        }
   }

   .end
   {
     margin-top: 35px;
     font-size: 12px;
     @include mobile{ padding-bottom: 20px; }
   }
}//End footer


// ---------------------------homePage------------------

section#homePage
{
    .carousel
    {
       img
       {
           width: 100%;
           max-height: 600px;
           position: relative;
            -webkit-filter: brightness(70%);
            @include mobile{
              height: auto;
            }
       }
       .inner
       {
           z-index: 100;
           color: white;
            position: absolute;
            width: 100%;
            height: 35%;
            margin: auto;
            top: 0; left: 0; bottom: 0; right: 0;
            text-align:  center;
            overflow: hidden;
            @include mobile{
              width: 75%;
              height: 85%;
              // top: -50px;
              top: 50px;
            }
            .h1_contaner
            {
                padding: 5px 2px;
                overflow: hidden;
                transition: .5s;
                h1{
                      font-size: 69px;
                      font-family: customRegular;
                      @include mobile{ font-size: 28px; }
                      animation: go_ltr 1.5s 0s ;
                      transition: .8s;
                }
            }
            p{
              font-family: customRegular;
              animation: go_rtl 0.3s 0s ;
                @include lapTop
                {
                    width: 55%;
                    text-align: center;
                    margin: 0 auto;
                    font-size: 12px;
                }
            }
       }
       .dots
       {
           position: absolute;
           right: 25px;
           top: 40%;
           z-index: 500;
           color: white;
           i{
               display: block;
               margin: 5px;
               cursor: pointer;
           }
           &:hover{
             transform: scale(1.3);
           }
           transition: .3s;
       }
    }//End .carousel

    .about_us
    {
        width: 100%;
        padding: 30px 10px 10px 10px;
            margin: 43px 0;
        h1{
          text-align: center;
          color: #13364C;
          font-size: 50px;
          font-family: customRegular;
        }
        p{
          font-family: customRegular;
        }
        .inner
        {
            display: flex;
            text-align: center;
            margin: 20px 5px;
            font-family: customRegular;
            p{
                  font-size: 19px;
            }
            .arrow_left ,.arrow_right
            {
               width: 20%;
               margin: auto;
               font-size: 40px;
               cursor: pointer;
               transition: .5s;
               &:hover{
                 // transform: scale(1.2);
               }
            }
            .content
            {
               width: 60%;
            }
        }//End inner

        .buttom
        {
            a{
              font-family: customRegular;
              background-color: #00263E;
              padding: 7px 12px;
              color: white;
              font-size: 13px;
              display: table;
              margin: 0 auto;
              text-decoration: none;
              transition: .5s;
              &:hover{
                // transform: scale(1.3);
                      padding: 7px 43px;;
              }
            }
        }

        .dots
        {
            text-align: center;
            margin-top: 35px;
            cursor: pointer;
            i{
                padding: 2px;
                &.fas.fa-circle{
                  color: #00261D;
                }
            }
        }
    }//End .about_us

    .projects
    {
        width: 100%;
        margin: 20px auto;
        .inner
        {
            width: 98%;
            margin: 0 auto;
            & > div //direct div
            {
                width: 32%;
                @include mobile{ width: 100%; }
                @include medium{ width: 47%; }
                display: inline-block;
                margin: 5px;
                position: relative;
                overflow: hidden;
                img{
                  width: 100%;
                  max-height: 416px;
                  transition: .5s;
                }
                a , p
                {
                  position: absolute;
                  width: 35%;
                  height: 9%;
                  margin: auto;
                  top: 0; left: 0; bottom: 0; right: 0;
                  text-align:  center;
                  padding: 5px;
                  font-weight: bold;
                  font-family: customRegular;
                }
                p
                {
                    width: 80%;
                    bottom: 28px;
                    color: white;
                    font-size: 36px;
                    font-weight: normal;
                    z-index: 200;
                    text-shadow: 2px 2px 5px black;
                }
                a{
                    background-color: #FFFFFF;
                    color: black;
                    cursor: pointer;
                    text-decoration: none;
                    z-index: 500;
                    padding: 8px;
                }
                -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                filter: grayscale(100%);
                &:hover{
                  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
                  filter: grayscale(0%);
                }
                position:relative;
                .insert_border.active
                {
                  position: absolute;
                  border: 3px solid #BCB0A9;
                  width: 90%;
                  height: 90%;
                  z-index: 400;
                  margin: auto;
                  top: 0;
                  bottom: 0;
                  left: 0;
                  right: 0;
                }
            }//End & > div //direct div
        }//End .inner
    }//End .projects

    .register_panel
    {
        height:500px;
        // margin-bottom: 20px;

        h2
        {
          text-align: center;
          color: white;
          padding: 12px;
          font-family: customRegular;
          font-size: 20px;
        }
        @include mobile{
          padding-top: 35px;
        }
       .form_panel
       {
           padding: 25px;
           margin-top: 4%;
           z-index: 100;
           background-color: rgba(0, 38, 62, 0.9);
           width: 30%;
           float: right;
           margin-right: 10%;
           height: 80%;
           box-shadow: 2px 2px 5px;
           @include mobile{
             width: 100%;
             float: none;
             height: 90%;
           }
           input
           {
              width: 100%;
              margin: 25px 0;
              background-color: transparent;
              padding: 0 5px 5px 5px;
              color: white;
              border-color: transparent;
              border-bottom: 1px solid white;
              font-family: customRegular;
              &::placeholder{
                color: white;
                font-size: 20px;
                font-family: customRegular;
              }
              &:focus{
                  outline: none;
              }
           }
           button
           {
              margin: 0 auto;
              display: table;
              margin-top: 15px;
              color: #103349;
              padding: 5px 35px;
              font-weight: bold;
              border: 0;
              cursor: pointer;
           }
       }

    }//End register_panel
}//end section#homePage


// ---------------------------About_us------------------
section#About_us
{
    .description
    {
          width: 100%;
          padding: 30px 10px 10px 10px;
          h2{
            text-align: center;
            color: #13364C;
            font-family: customRegular;
            font-size: 57px;
          }
          p
          {
              display: table;
              text-align: center;
              margin: 20px auto;
              width: 87%;
              font-size: 18px;
              font-family: customRegular;
          }//End inner
    }//End .description

    .main
    {
        @include lapTop
        {
            width: 87%;
            margin: 0 auto;
            & > div
            {
                img
                {
                  max-width: 55%;
                  max-height: 600px;
                }
                clear: both;
                padding: 25px 2px;
                position: relative;
                .inner
                {
                    padding-top: 12%;
                    padding-left: 54px;

                    width: 45%;
                    h2 {
                        text-align: left;
                        font-size: 57px;
                        color: #00263E;
                        font-family: customRegular;
                    }
                    p{
                      padding: 10px;
                      font-size: 18px;
                      font-family: customRegular;
                    }
                }//End .inner
            }//End & > div
            & > div:nth-of-type(2n+1)
            {
                img {
                  float: right;
                }
            }
            & > div:nth-of-type(2n)
            {
                img {
                  float: left;
                }
                .inner{
                  float: right;
                }
            }
        }//End @include lapTop

        @include mobile
        {
            width: 90%;
            margin: 0 auto;
            text-align: center;
            & > div
            {
                img {
                  max-width: 100%;
                }
                .inner
                {
                    padding-top: 12%;
                    h2 {
                        text-align: center;
                        font-size: 39px;
                        color: #00263E;
                    }
                    p{
                      padding: 10px;
                    }
                }//End .inner
            }//End & > div
        }//End  @include mobile
    }//End .main

    h1.FACILITIES{
        padding-top: 52px;
    }
    h1.PARTNERS{
         height: 80px;
    }

    .swiper-container  // FACILITIES
    {
        width: 90%;
        height: 100%;
        .swiper-wrapper
        {
          width: 100%;
          margin: 0 auto;
          text-align: center;
        }//End .item
        img
        {
            width: 100%;
            max-height: 700px;
            position: relative;
             -webkit-filter: brightness(70%);
             @include mobile{
               height: auto;
             }
        }
        p.title
        {
             z-index: 100;
             color: white;
             position: absolute;
             width: 50%;
             height: 22%;
             margin: auto;
             left: 10%; bottom: 10%;
             text-align:  left;
             font-family: customRegular;
             bottom: 20%;
             font-size: 55px;
             @include mobile{ bottom: 29%; }
        }
    }//end  .carousel
    .swiper-pagination {
      position: unset;
      margin: 0px auto;
      margin-top: 30px;
    }
    .swiper-pagination-bullet-active  {
      background: black;
    }
    .swiper-pagination-bullet{
      width: 12px;
      height: 12px;
      margin: 5px;
    }

     .swiper-pagination-bullet:focus{
        outline: none;
    }

    .partners
    {
        padding: 20px;
        text-align: center;
        img {
            max-width: 200px;
            margin: 25px;
        }
    }//End .partners

}//End section#About_us

// ---------------------------Location------------------
section#Location
{
    .description
    {
          width: 100%;
          padding: 30px 10px 10px 10px;
          h2{
            text-align: center;
            color: #13364C;
            font-family: customRegular;
            font-size: 57px;
          }
          p
          {
              display: table;
              text-align: center;
              margin: 20px auto;
              width: 87%;
              font-family: customRegular;
              font-size: 18px;
          }//End inner
    }//End .description

    .map
    {
        img{
          max-width: 100%;
          margin-bottom: 15px;
        }
    }
}//End section#Location

// ---------------------------Project------------------
section#Project
{
    .plans
    {
        img
        {
          max-width: 100%;
          @include mobile{ margin: 15px 1px; }
        }
    }//End .plans

    .info
    {
      width: 87%;
      margin: 80px auto;
       @include lapTop
       {
           img
           {
               float: right;
               width: 50%;
           }
           .content
           {
               padding-top: 5%;
               width: 40%;
               h2 {
                   font-size: 57px;
                   color: #00263E;
                   font-family: customRegular;
                   padding-left: 57px;
               }
               p{
                 padding: 10px;
                 padding-left: 48px;
                 font-size: 18px;
               }
           }//End .content
       }//End @include lapTop

       @include mobile
       {
           img {
               max-width: 100%;
           }
           .content
           {
               padding-top: 10%;
               h2 {
                   text-align: center;
                   font-size: 40px;
                   color: #00263E;
               }
               p{
                 padding: 10px;
               }
           }//End .content
       }//End @include mobile

    }//End .info

}//End section#Project

// ---------------------------Contact_us------------------
section#Contact_us
{
   #description
   {
       margin-top: 60px;
       h2
       {
          font-family: customRegular;
          color: #082D44;
          text-align: center;
          font-family: customRegular;
          font-size: 50px;
          @include lapTop{ padding-top: 15%; }
       }
       p{
         font-family: customRegular;
         font-size: 19px;
       }
   }

   .contact_form
   {
       margin-top: 40px;
       height:520px;
           margin-bottom: 15px;
       .form_panel
       {
         width: 35%;
         height: 100%;
         background-size: 100%;
         padding-top: 4%;
         @include mobile{ width: 100%; }
         .content
         {
            width: 80%;
            margin: 0 auto;
           .info
           {
               color: white;
               p{
                     margin-bottom: 0rem;
                     font-family: customRegular;
               }
           }//End .info
           form
           {
                input , textarea
                {
                   width: 100%;
                   margin: 14px 0;
                   background-color: transparent;
                   padding: 5px 10px;
                   color: white;
                   border-color: transparent;
                   border: 1px solid #ccc;
                   font-family: customRegular;
                   &::placeholder{
                     color: #ccc;
                   }
                   &:focus{
                       outline: none;
                   }
                }
                button
                {
                   margin-top: 0px;
                   color: #103349;
                   padding: 5px 35px;
                   font-weight: bold;
                   border: 0;
                   cursor: pointer;
                }
           }//End form
         }//End .content
       }//End .form_panel

   }//End .contact_form

}//End section#Contact_us

// ---------------------------Master_plan------------------
section#Master_plan
{
    background-color: white;
    #description
    {
        margin-top: 60px;
        h2
        {
           font-family: customRegular;
           color: #082D44;
           text-align: center;
           font-family: customRegular;
           font-size: 50px;
           @include lapTop{ padding-top: 7%; }
        }
        p{
          text-align: justify;
          font-family: customRegular;
          font-size: 19px;
        }
    }

    .main
    {
          margin-top: 25px;
          img{ max-width: 100%; }
          @include lapTop
          {
              & .row > div:nth-of-type(2n+1) img {
                  padding-top: 290px;
              }
              & .row > div:not(:nth-of-type(2)):nth-of-type(2n ) img {
                  padding-top: 10px;
              }
              & .row > div:nth-of-type(3) img {
                  padding-top: 488px;
              }
          }//End @include lapTop

          @include mobile
          {
             img{
               margin: 20px 1px;
             }
          }

          .putcontainer{
            width: 87%;
            margin: 0 auto;
          }
    }//End .main

}//End section#Master_plan

// ---------------------------Construction------------------
section#Construction
{
    .description
    {
          width: 100%;
          padding: 30px 10px 10px 10px;
          h2{
            text-align: center;
            color: #13364C;
            font-family: customRegular;
            font-size: 50px;
          }
          p
          {
              display: table;
              text-align: center;
              margin: 20px auto;
              width: 70%;
              font-family: customRegular;
              font-size: 19px;
          }//End inner
    }//End .description

    .main
    {
         text-align: center;
          p
          {
              text-align: center;
              margin-top: 20px;
              font-family: customRegular;
          }
          .col-md-4{ padding: 10px; }
          .img-container
          {
              width: 100%;
              // overflow: hidden;
              img
              {
                  max-width: 100%;
                  transition: .4s;
                  &:hover{
                    transform:  scale(1.1);
                    -webkit-filter: brightness(80%);
                    cursor: pointer;
                    border-radius: 12px;
                    z-index: 300 !important;
                  }//end :hover
              }//End img
          }//End .img-container
    }//End .main

    .gallory
    {
        position: relative;
        margin-bottom: 5px;
        i.fa-times-circle{
          position: absolute;
          right: 34px;
          top: 28px;
          font-size: 25px;
          color: white;
          cursor: pointer;
        }
        .arrows
        {

            & > div{
                position: absolute;
                top: 40%;
                font-size:  0px;
                background-color: rgba(3,35,56, 0.9);
                padding: 22px;
                color: white;
                cursor: pointer;
                @include mobile{
                   font-size: 20px;
                   padding: 15px;
                }
                &.left{
                   left: 0px;
                }
                &.right{
                   right: 0px;
                }
            }//End i
        }//End .arrows
        .slider
        {
            .item
            {
                img
                {
                   max-width: 100%;
                   transition: all 0.5s ease;
                }
            }//End .item
        }//End .slider

    }//End .gallory
}//End section#Construction

.go_down{
    transform: translateY(83px);
    transition: .5s;
}


//----------------------------------------
.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-in {
  to { transform: translateY(0); }
}
