*												{font-family:sans-serif;}
body											{overflow-x:hidden}
/*menu*/
.menu-wrap
{
	position:absolute;
    z-index:1001;
    width:250px;
    height:100%;
    background:rgba(225, 9, 21, 0.85);
    padding:2.1em 0 0;
    font-size:1.15em;
    -webkit-transform:translate3d(250px,0,0);
    -moz-transform:translate3d(250px,0,0);
    -ms-transform:translate3d(250px,0,0);
    -o-transform:translate3d(250px,0,0);
    transform:translate3d(250px,0,0);
    -webkit-transition:-webkit-transform 0.4s;
    transition:transform 0.4s;
    -webkit-transition-timing-function:cubic-bezier(0.7,0,0.3,1);
    transition-timing-function:cubic-bezier(0.7,0,0.3,1);
	position:fixed;
}
.menu-wrap	{
	    color:#FFF;
    font-family:'Open Sans', sans-serif;
    text-align:center;
    font-size:14px;
    font-weight:300;
    letter-spacing:2px;
	position: fixed;
    left: 0;
}
.direction-ltr .menu-wrap	{
	    color:#FFF;
    font-family:'Open Sans', sans-serif;
    text-align:center;
    font-size:14px;
    font-weight:300;
    letter-spacing:2px;
	position: fixed;
    left: auto;
	right:0
}
.show-menu .menu-wrap{
	-webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0)!important;
    -webkit-transition:-webkit-transform 0.8s;
    transition:transform 0.8s;
    -webkit-transition-timing-function:cubic-bezier(0.7,0,0.3,1);
    transition-timing-function:cubic-bezier(0.7,0,0.3,1);
}
.menu-wrap .close-button{
	    width:100%;
    height:4em;
    position:relative;
    overflow:hidden;
    text-indent:1em;
    font-size:0.75em;
    border:none;
    background:transparent;
    color:transparent;
    border-bottom:1px solid rgba(255, 255, 255, 0.47);
	cursor:pointer
}
.menu-info-block {
    width:160px;
    position:relative;
    margin:0 auto;
    margin-top:14px;
    text-align:center;
    font-family:'Open Sans', sans-serif;
    padding:17px 0 6px 0;
    border-top:1px solid #FFF;
    color:#FFF;
}
.show-menu .icon-list a {
    -webkit-transition-duration:0.9s;
    transition-duration:0.9s;
	width:100%;
	color:#fff
}
.icon-list a {
    display:block;
    padding:0.65em;
    -webkit-transform:translate3d(0,500px,0);
    transform:translate3d(0,500px,0);
}
.menu-wrap a:hover, .menu-wrap a:focus {
    color:#E4E4E4;
	text-decoration:underline
}
.close-button::before, .close-button::after {
    content:'';
    position:absolute;
    width:2px;
    height:17px;
    top:0;
    left:118px;
    background:#FFF;
}
.close-button::before {
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
}
.close-button::after {
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
}

.show-menu .icon-list {
    height:650px;
    position:relative;
}
.show-menu .icon-list, .show-menu .icon-list a {
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    -webkit-transition:-webkit-transform 0.8s;
    transition:transform 0.8s;
    -webkit-transition-timing-function:cubic-bezier(0.7,0,0.3,1);
    transition-timing-function:cubic-bezier(0.7,0,0.3,1);
}
.menu-info-block a {
    display:inline-block;
    font-size:18px;
    padding:7px;
    padding-top:0;
}
.menu-wrap a {
    color:#FFF;
    font-family:'Open Sans', sans-serif;
    text-align:center;
    font-size:14px;
    font-weight:300;
    letter-spacing:2px;
}


/*dropdowns*/
.dropdown-hover									{padding:15px 15px 15px;position:relative;cursor:pointer}
.dropdown-hover-head							{cursor:pointer}
.dropdown-hover-head:after 						{
													position:absolute;
													top:calc(50% - 2.5px);
													right:-5px;
													content:' ';
													width:0;
													height:0;
													border-left:5px solid #fffbfb00;
													border-right:5px solid transparent;
													border-top:7px solid #de1222;
												}
header .grey-bg .dropdown-hover-head:after		{content:none}
header .grey-bg .dropdown-hover					{position:static;-webkit-transition-duration:150ms;-moz-transition-duration:150ms;-ms-transition-duration:150ms;-o-transition-duration:150ms;transition-duration:150ms;}
header .grey-bg .dropdown-hover-body			{padding-top:0;width:100%}
.dropdown-hover-body 							{position:absolute;top:100%;left:0;top:auto;display:none;width:100%;padding-top:18px;}

.dropdown-hover-body-content					{background-color:#A3A3A3}
.dropdown-hover-body li							{padding:12px 14px}
.dropdown-hover:hover .dropdown-hover-body ,
.black.dropdown-hover:focus .dropdown-hover-body		{display:block}

.dropdown-click									{position:relative}
.dropdown-click-head							{cursor:pointer}

.dropdown-click-body 							{}
.dropdown-click-body-content					{padding:10px;padding-left:0;padding-right:0}
.dropdown-click-body li							{padding:5px;padding-right:0}
.dropdown-click:hover .dropdown-hover-body ,
.dropdown-click:focus .dropdown-hover-body		{display:block}
header .black-bg .b-list:hover ,
header .black-bg .b-list:focus			{background-color:#626262;-webkit-transition-duration:250ms;-moz-transition-duration:250ms;-ms-transition-duration:250ms;-o-transition-duration:250ms;transition-duration:250ms;}

header .grey-bg .a-list:hover ,
header .grey-bg .a-list:focus			{background-color:#ababab;color:#fff;-webkit-transition-duration:300ms;-moz-transition-duration:300ms;-ms-transition-duration:300ms;-o-transition-duration:300ms;transition-duration:300ms;}

header .grey-bg .dropdown-hover .b-list:hover ,
header .grey-bg .dropdown-hover .b-list:focus			{background-color:#626262;-webkit-transition-duration:300ms;-moz-transition-duration:300ms;-ms-transition-duration:300ms;-o-transition-duration:300ms;transition-duration:300ms;}

header .grey-bg .dropdown-hover .b-list li:hover,
header .grey-bg .dropdown-hover .b-list li:focus			{background-color:#000;-webkit-transition-duration:300ms;-moz-transition-duration:300ms;-ms-transition-duration:300ms;-o-transition-duration:300ms;transition-duration:300ms;}

header .grey-bg .dropdown-hover:hover > .dropdown-hover-body,
header .grey-bg .dropdown-hover:focus > .dropdown-hover-body			{visibility:visible;opacity:1}

header .black-bg .dropdown-hover:hover > .dropdown-hover-body,
header .black-bg .dropdown-hover:focus > .dropdown-hover-body			{visibility:visible;opacity:1}

/*header*/
header											{position:sticky;left:0;top:0;z-index:100}
header .grey-bg .dropdown-hover					{padding:15px 10px}
header .grey-bg .dropdown-hover .dropdown-hover {padding:0}
header .grey-bg .dropdown-hover .dropdown-hover	{font-size:13px;}
header .grey-bg .dropdown-hover-body .dropdown-hover-body {background-color:#626262}
header .grey-bg ul								{margin-left:10px}
header .grey-bg .dropdown-hover-body			{background-color:#ababab;color:#fff}
header .black-bg .dropdown-hover-body li 		{position:relative;padding:12px 14px}

header .grey-bg .dropdown-hover-body li 		{position:relative;padding:5px 19px}
header .grey-bg .dropdown-hover li:after 		{content:' ';position:absolute;top:20%;height:65%;width:1px;right:-2px;background-color:#fff}
header .b-list									{position:static!important}
header .grey-bg .dropdown-hover-body li:last-of-type:after	{display:none}
header .black-bg											{padding: 5px 0;}

.logo-hidden									{opacity:1;height:0}
.logos-container								{position:relative}
.logo-space										{width:134px}
.logo-space:after								{display:none}
.logos-container .logo							{padding:10px;background-color:#000;position:absolute;top:-63px;left:-30px;z-index:5;}

/*social list*/
.social-list li									{margin:0 5px}
.social-list li:last-of-type					{margin-right:0}
.social-list a									{background-color:#ebebeb;width:23px;height:22px;border-radius:5px;}
.fa-bars 										{font-size:30px;cursor:pointer;margin-lefT:15px}
.direction-rtl .fa-bars							{margin-lefT:0px;margin-right:15px}

/*color classes*/
.main-color 									{color:#de1222!important}
.main-bg										{background-color:#de1222}
.black-color  									{color:#000}
.black-bg										{background-color:#000}
.grey-color										{color:#ebebeb}
.grey-bg										{background-color:#ebebeb}
.white-color 									{color:#fff}
.white-bg										{background-color:#fff}

footer a										{color:#8d8d8d;    font-size:15px;}

/*Search form*/
#search-form-container > *			{margin:0 5px}
#search-form						{position:relative}
#search-form button[type="submit"]	{position:absolute;right:7px;top:0;cursor:pointer;background-color:transparent;border:0;height:100%}
#search-form input[type="text"]		{padding:5px 10px;border-radius:20px;border:0;width:389px}
#search-form i						{color: #6a6a6a;}

/*banner classes*/
.banner-container					{position:relative}
.banner-container img				{width:100%}

/*product*/
.grid-5 > *							{position: relative}

.products-grid .discount					{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    margin-top: 0!important;
    color: #fff;
    padding-top: 21px;
    font-size: 13px!important;
    -webkit-transform: rotate(17deg) translateX(0);
    -moz-transform: rotate(17deg) translateX(0);
    -ms-transform: rotate(17deg) translateX(0);
    -o-transform: rotate(17deg) translateX(0);
    transform: rotate(17deg) translateX(0);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
}
.product-img-container {
	position: relative;
}
.product-img-container .discount					{
	position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    margin-top: 0!important;
    color: #fff;
    padding: 14px 7px 2px 1px;
    font-size: 16px!important;
    -webkit-transform: rotate(17deg) translateX(5px) translateY(11px);
    -moz-transform: rotate(17deg) translateX(5px) translateY(11px);
    -ms-transform: rotate(17deg) translateX(5px) translateY(11px);
    -o-transform: rotate(17deg) translateX(5px) translateY(11px);
    transform: rotate(17deg) translateX(5px) translateY(11px);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
}


.products-grid .discount-bg {
	position: absolute;
    top: 0;
    right: 0;
    width: 85px!important;
}
.product-img-container {
	overflow:hidden
}
.product-img-container .discount-bg{
	position: absolute;
    top: 0;
    right: 0;
    width: 110px!important;
}
.products-grid .old {
	font-size: 14px!important;
    text-decoration: line-through;
    text-decoration-color: #e20a16;
}

.product-details .old {
	font-size: 14px!important;
    text-decoration: line-through;
	text-decoration-color: #e20a16;
	margin-right:10px
}
.products-grid						{grid-gap:20px;-ms-grid-gap:20px;margin-bottom:75px}
.products-grid-container .main-btn	{    margin: 25px 0;padding: 10px 17px;font-size: 14px;}
.product .main-btn					{margin:0;transition-duration:100ms;border:0;width:146.11px}
.product img						{width:100%}
.products-grid-container .product img {margin-bottom:15px}
.product							{background-image:linear-gradient(to bottom, #fff,#f3fbff);border:1px solid #e9e9e9;

										-webkit-transition-duration:250ms;
										-moz-transition-duration:250ms;
										-ms-transition-duration:250ms;
										-o-transition-duration:250ms;
										transition-duration:250ms;}
.product						{position:relative}

.product a							{padding:15px;}
/* .product .details					{text-transform:capitalize} */
.product .details 					{font-weight:900!important}
.product .details,
.product .weight					{color: #656565;
    font-size: 15px;
    font-weight: 100;font-family: 'Signika Negative', sans-serif;}
.product .weight					{font-size:13px;    margin-top: 7px;}
.product-details select				{padding:10px 6px;margin-right:18px}
.product-details .price				{font-size:19px}
.product-details h1					{color:#e20a16;font-size:30px}
.product-details .desc-title		{font-size:19px;font-weight:bold;}
.product-details .description p 	{line-height:23px;}
.product-details .status			{color:#50a34c;font-weight:bold;}
.product-footer						{
										padding:15px;
										position:absolute;
										width:calc(100% + 2px);
										top:99%;
										z-index:5;
										background-image:linear-gradient(to bottom, #f3fbff , #eaf7fd);
										overflow-y:hidden;
										border:1px solid #e9e9e9;
										border-top:0;
										left:-1px;
										opacity:0;
										-webkit-transition-duration:250ms;
										-moz-transition-duration:250ms;
										-ms-transition-duration:250ms;
										-o-transition-duration:250ms;
										transition-duration:250ms;
									}
.product-background					{background-image:linear-gradient(to bottom, #fff,#eaf7fd);border:1px solid #e9e9e9}
.product .price						{margin-top:12px;font-size:19px;}
.product:hover,
.product:focus						{box-shadow:0 0 0 1px #de1222;}
.product:hover .product-footer,
.product:focus .product-footer		{    box-shadow:0 0px 0px 1px #de1222;}
.product:hover > div:before,
.product:focus > div:before			{opacity:1}
.product:hover .product-footer,
.product:focus .product-footer		{opacity:1}
.product .seperator 				{
										position:absolute;
										top:98%;
										left:-1px;
										width:calc(100% + 2px);
										height:5px;
										background:#f3fbff;
										z-index:9;
										opacity:0;
										-webkit-transition-duration:250ms;
										-moz-transition-duration:250ms;
										-ms-transition-duration:250ms;
										-o-transition-duration:250ms;
										transition-duration:250ms;
									}

.product:hover .seperator,
.product:focus .seperator		{opacity:1}
.grid-1-5-5						{grid-gap:20px;-ms-grid-gap:20px;margin:20px 0}
.thumbnails						{padding-right:10px}
.thumbnails > *					{margin-bottom:10px;cursor:pointer;height:105px}
.thumbnails > *:last-of-type	{margin-bottom:0}
.thumbnails .active				{border:1px solid #f00}
	/*
.product:nth-child(1) .product-footer						{
		padding:15px;
		padding-top:0;
		position:absolute;
		width:calc(101% - 1px);
		top:100%;
		z-index:5;
		background-image:linear-gradient(to bottom, #f3fbff , #eaf7fd);
		overflow-y:hidden;
		border:1px solid #e9e9e9;
		border-top:0;
		left:-1px;
		opacity:0
	}
	*/

.main-page							{padding-top:48px}

/*buttons*/
.main-btn							{background-color:#de1222;color:#fff;cursor:pointer}
.second-btn							{background-color:#8d8d8d;color:#fff;cursor:pointer}

/*footer*/
footer > *:nth-child(1)				{padding:25px 0}
footer > *:nth-child(2)				{padding:15px 0px;font-size:13px;background-color:#000;color:#fff;}
footer .flex > *					{width:100%}
footer .flex > *:nth-child(2)		{width:80%}
footer .flex > *:nth-child(3)		{width: 40%;}

footer ul							{height:200px}
footer li							{width:auto!important;margin:10px 0;text-transform:uppercase}
footer h1							{text-transform:uppercase;margin-bottom:10px;font-size: 1.17em;}
footer .social-media a				{background-color: #ebebeb;width: 23px;height: 22px;border-radius: 5px;margin:0 5px;color:#000}

.total-table > div > div			{padding:10px 0}
.total-table .main-btn				{border:0;padding:10px 15px;margin-bottom:25px}

/*brand page*/
.brand-grid							{margin-top:75px;grid-gap:25px;-ms-grid-gap:25px;}

.dropdown-click-head				{cursor:pointer}
.dropdown-click-body				{position:relative}
aside > .dropdown-click				{border-bottom:1px solid #ebebeb;margin-bottom:15px;width:100%;padding-bottom:10px}
aside > .dropdown-click:last-of-type{border-bottom:0}
aside > .dropdown-click ,
aside > .dropdown-click *			{color:#949494}
.dropdown-click-head *				{text-transform:uppercase}
/* .dropdown-click-body *				{text-transform:capitalize!important} */
.dropdown-click-body				{display:none}
aside .dropdown-click-head 			{position:relative;padding:10px 0}
aside li.active						{color:#000;font-weight:bold}
aside li.active a					{color:#000}
aside .cap 							{text-transform:capitalize}
aside .dropdown-click-body .upper 	{text-transform:capitalize!important}
aside .bold 						{font-size:20px;}
aside .product-border				{    height: 1px;
    background-color: #e4e4e4;padding:0}
	aside li.product-border			{background-color:#fff}
/*.dropdown-click-body				{display:none} */
.grid-1-5-5 > *:nth-child(1)		{
										grid-column-start:1;
										grid-column-end:2;
										-ms-grid-column-start:1;
										-ms-grid-column-end:2;
									}
.grid-1-5-5 > *:nth-child(2)		{
										grid-column-start:2;
										grid-column-end:5;
										-ms-grid-column-start:2;
										-ms-grid-column-end:5;
									}
.grid-1-5-5 > *:nth-child(3)		{
										grid-column-start:5;
										grid-column-end:10;
										-ms-grid-column-start:5;
										-ms-grid-column-end:10;
									}
.grid-1-5-5 > *:nth-child(1)		{height:450px;overflow-y:auto;overflow-x:hidden}
.full-w-children > *					{width:100%}

/*product page*/
#product-page .add-to-cart			{width:178px;padding:10px 18px;border:0}
#wishlist-page .add-to-cart			{width:180px;padding:12px 17px;border:0;margin-top:15px}
#product-page .fa-heart				{margin-right:10px;cursor:pointer}
#product-page .fas.fa-heart			{color:#e20a16}
#product-page .product-img-container img {width:280px}
#product-page .grid-1-5-5 > *:nth-child(2)			{border:0}
#product-page .banner-container img {margin-bottom:35px}

/*FAQs page*/
#FAQs								{padding:50px 0}

/*checkout*/
.grid-1-2-1-1-1-1 > *:nth-child(1)			{grid-column-start:1;grid-column-end:2;-ms-grid-column-start:1;-ms-grid-column-end:2}
.grid-1-2-1-1-1-1 > *:nth-child(2)			{grid-column-start:2;grid-column-end:4;-ms-grid-column-start:2;-ms-grid-column-end:4}
.grid-1-2-1-1-1-1 > *:nth-child(3)			{grid-column-start:4;grid-column-end:5;-ms-grid-column-start:4;-ms-grid-column-end:5}
.grid-1-2-1-1-1-1 > *:nth-child(4)			{grid-column-start:5;grid-column-end:6;-ms-grid-column-start:5;-ms-grid-column-end:6}
.grid-1-2-1-1-1-1 > *:nth-child(5)			{grid-column-start:6;grid-column-end:7;-ms-grid-column-start:6;-ms-grid-column-end:7}
.grid-1-2-1-1-1-1 > *:nth-child(6)			{grid-column-start:7;grid-column-end:8;-ms-grid-column-start:7;-ms-grid-column-end:8}

#profile-page .grid img 					{width:100%;border:1px solid #888;}
#profile-page .delete						{    width: 22px!important;
    border: 0!important;margin-left:10px;cursor:pointer}

.checkout-row 								{padding:15px 40px;border-bottom: 1px solid #d7d7d7;}
.checkout-row.title-container				{font-weight:bold;text-transform:capitalize}
.checkout-row.title-container > span		{margin-left:5px}
.checkout-row.payment-container > div		{padding:15px 0}
.checkout-row.payment-container label		{padding:15px 0;margin-right:50px}
.checkout-row .delete-icon					{width:21px;cursor:pointer}
.checkout-row select						{padding:8px 7px;cursor:pointer}
.checkout-row.address-container	> span,
.checkout-row.address-container > div 		{padding-bottom:13px;    display:block;}
.checkout-row.payment-container .bold,
.checkout-row.address-container .bold,
.checkout-row.promo-container .bold,
.checkout-row.title-container > span		{font-size:18px;margin-left:10px}


#checkout-page .note						{padding:10px 20px;background-color:#e20a16;color:#fff;line-height:27px}
#checkout-page .note span					{font-size:23px;margin-right:5px}
#checkout-page .product-background			{width:105px;padding:10px;text-align:center}
#checkout-page .product-name				{color:#e20a16;font-size:18px}
#checkout-page .products-grid				{margin:50px 0}
#checkout-page .products-grid .main-btn		{padding:10px}
#checkout-page .grid-5.products-grid .details 	{margin-bottom:10px}
#checkout-page input[type="number"]				{width:39px;padding:5px 0px;border-radius: 0;border-left: 0;border-right: 0;}
button.minus, button.plus						{width:29px;padding:5px 0px;cursor:pointer}
#checkout-page .product-size 			{font-weight: bold;font-size: 14px;}
/*profile page*/
#profile-page .grid 						{grid-gap:20px;-ms-grid-gap:20px}
#profile-page .grid-1-20-1 > *:nth-child(1)	{grid-column-start:2;grid-column-end:7;-ms-grid-column-start:2;-ms-grid-column-end:7}
#profile-page .grid-1-20-1 > *:nth-child(2)	{grid-column-start:7;grid-column-end:20;-ms-grid-column-start:7;-ms-grid-column-end:20}
#profile-page .grid-1-20-1 > *:nth-child(3)	{grid-column-start:5;grid-column-end:20;-ms-grid-column-start:5;-ms-grid-column-end:20;display:none}
#profile-page .edit 						{color:#888888;border-bottom:1px dashed #888;cursor:pointer;margin:5px 0}
#profile-page input							{margin:5px 0;border:0;width:100%}
#profile-page input.deactive				{box-shadow:0}
#profile-page .container					{width:65%}
#profile-page .address li:first-of-type		{padding-top:0;padding-bottom:20px}
#profile-page .address li:last-of-type		{border-bottom:0}
.taste-grid .product						{cursor:pointer}
.grid-20									{grid-template-columns:repeat(20,1fr);-ms-grid-template-columns:repeat(20,1fr)}
#profile-page .field						{padding:15px 0}
#profile-page .main-btn						{padding:9px 12px;}
#profile-page label							{font-weight:bold}
#profile-page .main-btn						{border: 0;
    min-width: 158px;
    text-align: center;
    font-size: 13.3333px;
	margin-bottom:10px
}
.profile-router								{margin:25px 0}
.wishlist-product img						{height:auto;    border:1px solid #888;width:150px}
.wishlist-border							{border-bottom:1px solid #888}
.social-media li							{display:inline-block}

#history-page .main-btn						{padding:5px 10px}
#history-page .order_id,
#history-page .total_before,
#history-page .dicsount,
#history-page .total_after,
#history-page .date,
#history-page .status,
#history-page .address						{margin:6px 0}
#history-page .wishlist-product				{padding:20px 0}
#history-page .dropdown-hover-head			{padding:9px 27px}
#history-page .dropdown-hover-head:after	{display:none}
#history-page .dropdown-hover				{padding:0 0 0 0;margin:15px 0 15px 15px}
#history-page .dropdown-hover-body 			{padding-top:0}
#history-page .wishlist-product .main-btn	{padding: 12px 19px;}
#history-page .dropdown-hover-body			{left:auto;right:0;width:150%}
#history-page .dropdown-hover-body-content	{padding:0;background-color:#ababab}
#history-page .dropdown-hover-body li		{padding:13px;color:#fff;text-transform:capitalize}
#history-page .dropdown-hover-body li:hover,
#history-page .dropdown-hover-body li:focus	{background-color:#626262}
#history-page .wishlist-product.wishlist-border {border-bottom:0;border-top:1px solid #888;}
#history-page .wishlist-product.wishlist-border:first-of-type {border-top:0}

#history-inner-page h1 {padding:15px 0}
#history-inner-page .order_id,
#history-inner-page .total_before,
#history-inner-page .dicsount,
#history-inner-page .total_after,
#history-inner-page .date,
#history-inner-page .status,
#history-inner-page .address				{margin:6px 0}
#history-inner-page .wishlist-product.wishlist-border:nth-child(2)	{padding:20px 0}
#history-inner-page .wishlist-border,
#history-page .wishlist-border	{padding-right:40px!important;padding-lefT:40px!important}

.pagination {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
	-webkit-align-items:center;
	-moz-align-items:center;
	-ms-align-items:center;
	-o-align-items:center;
	align-items:center;
    padding: 10px;}
.pagination .active a {    color: #fff;
    background: #444;
    width: 25px;
    border-radius: 50%;
    height: 25px;
    padding: 0px;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
	}
.pagination a {margin:0 5px}
.pagination a:hover, .pagination a:focus {color:#666}
/*register and login pages*/
input , textarea , select					{padding:11px 21px;border-radius:4px;background-color:#fff;border:1px solid #a0a0a0;box-shadow:inset 0px 0px 45px -21px #d7d7d7;}
input[type="radio"]							{padding:0;border-radius:4px;background-color:transparent;border:0;box-shadow:inset 0 0 0 0}
#login-page .main-btn						{padding:7px 5px}
#login-page h1,
#register-page h1							{font-size:28px;color:#666}
#login-page .logo,
#register-page .logo						{margin-bottom:50px}

#login-page,
#register-page								{margin-top:70px}

#login-page .main-btn,
#login-page .second-btn,
#register-page .main-btn,
#register-page .second-btn					{padding:13px 5px;border-radius:4px;border:0;font-weight:bold;letter-spacing:0.5px;font-size:16px}

.field-container							{position:relative;margin:20px 0}
.field-container i							{position:absolute;top:11px;right:11px;color:#4b4b4b}
.logo										{width:103px}
.forget-password							{font-size:11pt;margin-top:3px}
.form-container form						{border:1px solid #ccc;padding:30px;width:35%;max-width:550px;min-width:400px;margin-bottom:80px}
.new-customer								{position:relative;margin:25px 0;font-weight:bold;color:#555}
.new-customer:before						{content:' ';position:absolute;width:130px;height:1px;right:-135px;top:9px;background-color:#8d8d8d;}
.new-customer:after							{content:' ';position:absolute;width:130px;height:1px;left:-135px;top:9px;background-color:#8d8d8d;}
.gender-field								{padding-left:21px;font-size:13px;}
.gender-field > label						{margin-right:13px}
.gender-field > input						{margin-right:30px}
.auth-footer								{padding:55px 0;background-color:#f9f8f8;border-top:1px solid #ccc;color:#656565;text-transform:capitalize;}
.auth-footer span							{color:#000;margin-left:5px;font-size:18px}
#register-page textarea						{height:75px}
label.error									{color:#f00;display:block;margin-top:4px;font-size:13px;}

@media (max-width:450px){
	.form-container form					{border:0;margin-bottom:15px;padding-bottom:45px;}
	.auth-footer							{border-top:0}
	.auth-footer							{display:block;padding:0 30px;text-align:center;padding-bottom:20px;line-height:30px}
	.grid-1-2-1-1-1-1 {width:100%!important}
}

header .black-bg .dropdown-hover			{}
header .grey-bg .dropdown-hover-body		{visibility:hidden;opacity:0;transition:visibility .3s ease,opacity .35s;display:block;z-index:99}
header .black-bg .dropdown-hover-body		{padding:0;visibility:hidden;opacity:0;display:block}
header .black-bg a							{color:#ebebeb}
header .black-bg .dropdown-hover-body-content a {color:#fff}
header .black-bg .social-list i					{color:#000}
header .grey-bg .dropdown-hover-body a		{color:#fff;font-size:13px}

.logo-space {cursor:context-menu;}
.cart-icon-wrapper {position:relative}
.cart-icon	{width:30px;margin:0 10px}
.cart-icon-wrapper .count 					{position:absolute;top:-4px;right:0;width:88%;font-size:13px;color:#e20a16;text-align:center;}

#wishlist-page h1							{padding-bottom:28px;margin-top:15px}
.wishlist-product							{padding:48px 0}
#wishlist-page .title						{color:#de1222;font-size:19px;}
#wishlist-page .desc						{margin-bottom:10px;font-weight:500}
#wishlist-page .img-wrapper					{margin-right:25px;padding:12px}
#wishlist-page .wishlist-border				{padding:20px 40px 20px 40px;position:relative}
#wishlist-page .wishlist-border:last-of-type{border-bottom:0}
#wishlist-page h1.wishlist-border			{border-bottom: 1px solid #888!important}
#wishlist-page .delete-icon					{border: 0;
    width: 19px;
    cursor: pointer;
    position: absolute;
    top: 13px;
    left: 14px;}
.wishlist-product .product-background img						{height:auto;width:75px;border:0}
@media (max-width:992px){
	.social-list-container					{display:none}
	#search-form-container					{flex-direction:row-reverse}
	#search-form input[type="text"]			{width:250px}
	header .black-bg .dropdown-hover		{margin-right:35px!important}
	header .grey-bg .dropdown-hover-body li	{width:100%}
	header .grey-bg .dropdown-hover-body li:after	{content:' ';position:absolute;top:100%;height:1px;width:100%;right:-2px;background-color:#fff;}


	#product-page .grid-9						{    grid-template-columns: repeat(1,1fr);}
	.grid-1-5-5 > *								{    grid-column-start: 1!important;grid-column-end: -1!important;}
	.grid-1-5-5 .full-w-children > *			{margin:17px 0}
	.thumbnails > *								{    width: 15%;}
	.thumbnails									{
													-webkit-display:flex;
													-moz-display:flex;
													-ms-display:flex;
													-o-display:flex;
													display:flex;
													-moz-flex-wrap:wrap;
													-ms-flex-wrap:wrap;
													-o-flex-wrap:wrap;
													-webkit-flex-wrap:wrap;
													flex-wrap:wrap;
													-webkit-justify-content:space-between;
													-moz-justify-content:space-between;
													-ms-justify-content:space-between;
													-o-justify-content:space-between;
													justify-content:space-between;
												}
	.grid-1-5-5 > *:nth-child(1)				{height:auto}
	.grid-1-5-5 > *:nth-child(2)				{-webkit-order:-1;-moz-order:-1;-ms-order:-1;-o-order:-1;order:-1;}
	.grid-7										{grid-template-columns: repeat(7,1fr);-ms-grid-template-columns: repeat(7,1fr);}
	.grid-20	{    grid-template-columns: repeat(5,1fr);-ms-grid-template-columns: repeat(5,1fr);}
	#profile-page .grid-1-20-1 > *:nth-child(1) {grid-column-start: 1;grid-column-end: 2;-ms-grid-column-start: 1;-ms-grid-column-end: 2;}
	#profile-page .grid-1-20-1 > *:nth-child(2)	{grid-column-start: 2;grid-column-end: 6;-ms-grid-column-start: 2;-ms-grid-column-end: 6;}
	#profile-page .container	{width:90%}
	#product-page .product-img-container img {padding:60px 0}

	.product-container > * {grid-column-start: 1!important;grid-column-end: 8!important;-ms-grid-column-start: 1!important;-ms-grid-column-end:8!important;margin-bottom: 14px;}
	.product-container .product-delete {grid-column-start:4!important;grid-column-end: 5!important;-ms-grid-column-start: 3!important;-ms-grid-column-end: 3!important;margin-bottom:14px;grid-row-start: 1;-ms-grid-row-start: 1;}

	#checkout-page .checkout-row.title-container {display:none}
}
@media (max-width:850px){
	footer ul									{height:auto}
	footer .container > .flex						{display:block}
	footer .container .flex > div				{margin-bottom:40px}
	footer .container .flex > div:last-of-type	{margin-bottom:0}
	#search-form-container						{flex-wrap:wrap;-webkit-flex-wrap:wrap;-moz-flex-wrap:wrap;-ms-flex-wrap:wrap;-o-flex-wrap:wrap;}
	#search-form-container #search-form			{
													width:100%;
													-webkit-display:flex;
													-moz-display:flex;
													-ms-display:flex;
													-o-display:flex;
													display:flex;
													-webkit-justify-content:flex-end;
													-moz-justify-content:flex-end;
													-ms-justify-content:flex-end;
													-o-justify-content:flex-end;
													justify-content:flex-end;
													margin-top:13px;
													-webkit-order: 2;
													-moz-order: 2;
													-ms-order: 2;
													-o-order: 2;
													order: 2;
													margin-bottom:20px;
													margin-top:0
												}
	.products-grid-container .product > div		{position:static}
	.products-grid-container .product			{position:relative}
	header .black-bg .container > .flex			{align-items:flex-end}
	header .black-bg .social-list				{margin-bottom:20px}
	footer .flex > *:nth-child(3)				{width:100%}
}
@media (max-width:480px){
	#wishlist-page .wishlist-product {
		-webkit-display:flex;
		-moz-display:flex;
		-ms-display:flex;
		-o-display:flex;
		display:flex;
		-webkit-justify-content:center;
		-moz-justify-content:center;
		-ms-justify-content:center;
		-o-justify-content:center;
		justify-content:center;
	}
}
@media (max-width: 556px){
	.grid-4 {
		grid-template-columns: repeat(2,1fr);
		-ms-grid-template-columns: repeat(2,1fr);
	}
}
@media (max-width:470px){
	.cart-text	{display:none}
	.logos-container .logo {background-color:transparent}
	.logo-space	{width:0}
	#search-form input[type="text"]	{width:200px}
	#search-form-container > * {margin:0;margin-left:-5px}
	.logo	{width:116px;}

	.thumbnails > *								{width: 45%;}
	.grid-1-5-5 > *:nth-child(2) img			{width:100%}
	#search-form-container > a {transform: translateX(-13px);}
	.logos-container .logo 						{top:-117px;left: -23px;}

}
	@media (max-width: 410px){
		header .black-bg .social-list {
			margin-bottom: 5px;
		}
		.logos-container .logo 						{top:-111px;left: -23px;}
	}
@media (max-width:768px){
	.grid-7										{}
}
@media (max-width:556px){
	#profile-page .grid-1-20-1 > *:nth-child(1)	{grid-column-start:1;grid-column-end: 6;-ms-grid-column-start:1;-ms-grid-column-end: 6;}

	#profile-page .grid-1-20-1 > *:nth-child(2)	{grid-column-start:1;grid-column-end: 6;-ms-grid-column-start:1;-ms-grid-column-end: 6;}
}
@media (max-width:700px){
		#brand-page .grid-1-rest > *:nth-child(1)		{grid-column-start:1;grid-column-end:7;-ms-grid-column-start:1;-ms-grid-column-end:7;}
	#brand-page .grid-1-rest > *:nth-child(2)		{grid-column-start:1;grid-column-end:7;-ms-grid-column-start:1;-ms-grid-column-end:7;}
}
@media (max-width: 992px){
	.brand-grid {
		grid-template-columns: repeat(3,1fr);
		-ms-grid-template-columns: repeat(2,1fr);
	}
	header .grey-bg .dropdown-hover-body .container {width:100%}
	header .grey-bg ul {}
	header .grey-bg .dropdown-hover-body a {padding-left: 2em!important;}
	header .grey-bg ul {margin-left: 0}
	#checkout-page > .container {
		-webkit-display:flex;
		-moz-display:flex;
		-ms-display:flex;
		-o-display:flex;
		display:flex;
		-webkit-flex-wrap:wrap;
		-moz-flex-wrap:wrap;
		-ms-flex-wrap:wrap;
		-o-flex-wrap:wrap;
		flex-wrap:wrap;
	}
	.grid-1-2-1-1-1-1 {width:50%}
}
header .grey-bg .dropdown-hover-body li {padding:0px}
header .grey-bg .dropdown-hover-body li a	{padding:10px;width:100%}
header .b-list ul .dropdown-hover-body								{visibility:hidden;opacity:0}
header .b-list:hover .dropdown-hover-body,
header .b-list:focus .dropdown-hover-body							{visibility:visible;opacity:1}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #de1222;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #de1222;
}

header .grey-bg .dropdown-hover-body li:after	{display:none}
.pre-footer										{padding:15px 0}
.pre-footer span								{font-size:18px}
.pre-footer i									{font-size:25px;margin-right:10px}

footer h1										{padding-bottom:0!important;text-transform:uppercase}
.promo-container button							{    padding: 11px 19px;
    border: 0;}

.promo-container .title							{padding-bottom:10px}


header .black-bg .dropdown-hover:hover .dropdown-hover-body		{padding:0;visibility:visible;opacity:1;display:block;width: 174px;}
.add-adress 													{padding:7px 10px;border:0;margin-top:15px}
#profile-page .address-grid										{padding-bottom:15px}

#profile-page input,
#profile-page textarea,
#profile-page select				{box-shadow:0 0 0 0;border:0;border-bottom:1px solid #a0a0a0;border-radius:0}

#ElParto{}
#msg-container	{position:fixed;width:100%;height:100vh;background-color:#00000096;z-index:9999}
#msg_wrapper	{background-color:#fff;padding: 20px 50px;position:relative}
#msg-container p {color:#000}
#msg_wrapper .close {position: absolute;top: -10px;left: -10px;width: 20px;cursor:pointer}
.lowercase {text-transform:lowercase}
@media (max-width:1300px){
	.total-table {width:25%}
}
@media (max-width:1050px){
	.total-table {width:35%}
}
@media (max-width:800px){
	.total-table {width:45%}
	header .grey-bg .dropdown-hover-body {padding:0;max-height: 346px;overflow: scroll;padding-top:30px}

	header .grey-bg .dropdown-hover-body.categories {overflow:inherit}
}
@media (max-width:768px){
	.total-table {width:100%}
	.pre-footer .container {flex-wrap:wrap;-webkit-flex-wrap:wrap;-moz-flex-wrap:wrap;-ms-flex-wrap:wrap;-o-flex-wrap:wrap;}
	.pre-footer .container > * {margin:7px 0}
	.pre-footer .text-center {text-align:left}
	.social-list li {margin:0 2px}
	.social-list li:first-of-type {margin-left:10px}
	.black-bg .social-list {display:none}
}
@media (max-width:410px){
		header .social-list {
			-webkit-flex-wrap:wrap;
			-moz-flex-wrap:wrap;
			-ms-flex-wrap:wrap;
			-o-flex-wrap:wrap;
			flex-wrap:wrap;
			margin-left:15px
		}
		header .social-list > * {width:100%;margin:0 0;margin-bottom:5px}
		#search-form-container {width:250%}
}
@media (max-width:350px){
	.logo {width:100px}
}
@media (min-width:992px){
	label.responsive {display:none}
}
.related-products .container {padding-top: 50px;margin-top: 50px;border-top: 1px solid #c8c8c8;}
.related-products h1 {margin-bottom:27px}
/********************************************Arabic Style**************************************************/
.direction-rtl .logos-container .logo {right:-30px}
.direction-rtl #search-form button[type="submit"] {left:7px}
.direction-rtl header .grey-bg ul {margin-left:0;margin-right:10px}
.direction-rtl #product-page .fa-heart {margin-right:0;margin-left:10px}
.direction-rtl .thumbnails	{padding-right:0px;padding-left: 10px;}
.direction-rtl .product-details select {margin-right:0;margin-left: 33px;}
.direction-rtl .auth-footer span	{margin-left:0;margin-right:5px}
.direction-rtl .field-container i	{right:auto;left:11px}
.direction-rtl .gender-field > label	{margin-right:0;margin-left:13px}
.direction-rtl .gender-field > input {    margin-right: 0;    margin-left: 30px;}
.direction-rtl #history-page .dropdown-hover				{padding:0 0 0 0;margin:15px 15px 15px 0}
.direction-rtl #wishlist-page .delete-icon					{right:14px;left:auto}
.direction-rtl #wishlist-page .img-wrapper					{margin-right:0;margin-left:25px}
.direction-rtl footer .tel 									{direction:ltr}
.direction-rtl .checkout-row.payment-container label		{margin-right:0;margin-left:50px}
.direction-rtl .menu-wrap {-webkit-transform: translate3d(-250px,0,0)!important;-moz-transform: translate3d(-250px,0,0)!important;-ms-transform: translate3d(-250px,0,0)!important;-o-transform: translate3d(-250px,0,0)!important;transform: translate3d(-250px,0,0)!important;}
.direction-ltr.show-menu .menu-wrap {-webkit-transform: translate3d(0px,0,0)!important;-moz-transform: translate3d(0px,0,0)!important;-ms-transform: translate3d(0px,0,0)!important;-o-transform: translate3d(0px,0,0)!important;    transform: translate3d(0px,0,0)!important;}
.direction-rtl.show-menu .menu-wrap {-webkit-transform: translate3d(0px,0,0)!important;-moz-transform: translate3d(0px,0,0)!important;-ms-transform: translate3d(0px,0,0)!important;-o-transform: translate3d(0px,0,0)!important;    transform: translate3d(0px,0,0)!important;}
@media (max-width:410px){
	.direction-rtl header .social-list {margin-left:0;margin-right:15px}
	.direction-rtl #search-form-container > * {margin-right:-3px;margin-left:0}
}

#history-inner-page .history-grid	{grid-column-gap: 132px;grid-row-gap: 46px;-ms-grid-column-gap: 132px;-ms-grid-row-gap: 46px;}
#history-inner-page img {width:100%}
#history-inner-page .history-grid .grid {grid-gap: 45px;-ms-grid-gap: 45px;}

.logo-space:hover, .logo-space:focus {background-color:#00000000!important}
.logo-space:hover, .logo-space:focus {background-color:#00000000!important}

@media (max-width: 556px){
	.grid-5 {
		grid-template-columns: repeat(2,1fr);
		-ms-grid-template-columns: repeat(1,1fr);
	}
	footer > *:nth-child(2) p {font-size:11px;width:90%;line-height:25px}
}
#inp_code {margin-right:10px }
@media (max-width:600px){
	.history-filter {width:100%}
	#history-page .history-filter .dropdown-hover 				{margin-left:0;margin-right:15px;width:160px}
	#history-page .history-filter .dropdown-hover span span		{width:100%;text-align:center}
	#history-page .dropdown-hover-body 							{left: 0;}
	#history-page .history-filter .dropdown-hover 				{margin-bottom:0}
	#history-page .history-filter .dropdown-hover:last-of-type 	{margin-bottom:15px}
	#history-page .history-filter .dropdown-hover-body 			{z-index:5}
}

/* temp serage  */
#profile-page input, #profile-page textarea, #profile-page select {
    background: #e8e5e5;
    margin: 0 5px;
    border-radius: 4px;
}
#profile-page input, #profile-page textarea, #profile-page select {

      border-bottom: none;
}

#profile-page li.field.flex.flex-middle.flex-wrap:not(:first-of-type)
{
	border-top: 1px solid #dadada;

}
