@import url(https://fonts.googleapis.com/css?family=Crete+Round);
@font-face {
	font-family: 'GothamBook','open sans';
	src: url('../fonts/GothamBook.eot');
	src: local('GothamBook','open sans'), url('../fonts/GothamBook.woff') format('woff'), url('../fonts/GothamBook.ttf') format('truetype');
}
html, 
body, 
.container, 
.content-wrap {
	overflow: hidden;
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

.container {
	background: #373a47;
}

.menu-wrap a {
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 2px;
}
.icon-list{
padding-top: 15px;
}
.menu-wrap a:hover,
.menu-wrap a:focus {
	color: #E4E4E4;
}

.content-wrap {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.content{
	/*position: relative;
	background: #b4bad2;*/
}

#owl-demo .item img{
        display: block;
        width: 100%;
        height: auto;
    }

.content::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	/*width: 100%;*/
	height: 100%;
	/*background: rgba(0,0,0,0.3);*/
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
	-webkit-transition: opacity 0.4s, -webkit-transform 0s 0.4s;
	transition: opacity 0.4s, transform 0s 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

/* Menu Button */
.menu-button {
	position: fixed;
	z-index: 1000;
	margin: 0px 20px;
	padding: 1em 2.5em;
	width: 2.5em;
	height: 2.25em;
	border: none;
	text-indent: 2.5em;
	font-size: 1.1em;
	font-family: 'Open Sans', sans-serif;
	background: #E10915;
	padding-bottom: 68px;
}
.menu-button:focus{
outline:none;
}
.aftoggle{
display: block;
color: #FFF;
position: absolute;
bottom: 12px;
left: -24px;
font-weight: 500;
font-size: 15px;
letter-spacing: 2px;
text-transform: uppercase;
}

.menu-button::before {
position: absolute;
top: 1.6em;
right: 1em;
bottom: 2.4em;
left: 1em;
background: linear-gradient(#F7F7F7 20%, rgba(0, 0, 0, 0) 17%, rgba(0, 0, 0, 0) 43%, #FFF 35%, #FFF 60%, rgba(0, 0, 0, 0) 62%, rgba(0, 0, 0, 0) 79%, #FFF 83%);
content: '';
}

.menu-button:hover {
	opacity: 0.6;
}

/* Close Button */
.close-button {
	width: 100%;
	height: 4em;
	position: relative;
	overflow: hidden;
	text-indent: 1em;
	font-size: 0.75em;
	border: none;
	background: transparent;
	color: transparent;
	border-bottom: 1px solid rgba(255, 255, 255, 0.47);
}

.close-button::before,
.close-button::after {
	content: '';
	position: absolute;
	width: 2px;
	height: 17px;
	top: 0;
	left: 118px;
	background: #FFF;
}

.close-button::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.close-button:focus{
outline:none;
}
.close-button::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* Menu */
.menu-wrap {
	position: absolute;
	z-index: 1001;
width: 250px;
height: 100%;
background: rgba(225, 9, 21, 0.85);
	padding: 2.1em 0 0;
	font-size: 1.15em;
	-webkit-transform: translate3d(-320px,0,0);
	transform: translate3d(-320px,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.menu, 
.icon-list {

}
.show-menu .icon-list {
	height: 650px;
	position: relative;
}
.icon-list {
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.icon-list a {
	display: block;
	padding: 0.8em;
	-webkit-transform: translate3d(0,500px,0);
	transform: translate3d(0,500px,0);
}

.icon-list,
.icon-list a {
	-webkit-transition: -webkit-transform 0s 0.4s;
	transition: transform 0s 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.icon-list a:nth-child(2) {
	-webkit-transform: translate3d(0,1000px,0);
	transform: translate3d(0,1000px,0);
}

.icon-list a:nth-child(3) {
	-webkit-transform: translate3d(0,1500px,0);
	transform: translate3d(0,1500px,0);
}

.icon-list a:nth-child(4) {
	-webkit-transform: translate3d(0,2000px,0);
	transform: translate3d(0,2000px,0);
}

.icon-list a:nth-child(5) {
	-webkit-transform: translate3d(0,2500px,0);
	transform: translate3d(0,2500px,0);
}

.icon-list a:nth-child(6) {
	-webkit-transform: translate3d(0,3000px,0);
	transform: translate3d(0,3000px,0);
}
.icon-list a:nth-child(7) {
	-webkit-transform: translate3d(0,3500px,0);
	transform: translate3d(0,3000px,0);
}

.icon-list a span {
	/*margin-left: 10px;*/

}
.show-menu .menu-button{
	opacity:0.3;
}
/* Shown menu */
.show-menu .menu-wrap {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	
}

.show-menu .icon-list,
.show-menu .icon-list a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	
}

.show-menu .icon-list a {
	-webkit-transition-duration: 0.9s;
	transition-duration: 0.9s;
}

.show-menu .content::before {
	opacity: 1;
	-webkit-transition: opacity 0.8s;
	transition: opacity 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


/**/

header{
	text-align: center;
	position: relative;
	width: 100%;
	z-index: 100;
height: 57px;
}

.hdr-logo{
display: inline-block;
padding-top: 12px;
margin-bottom: 12px;
padding: 26px;
border-radius: 59%;
background: #FFF;
margin-top: -19px;
}

.hdr-logo img{
	width:93px;
}

.seprator{
	height:109px;
}
#owl-demo .owl-buttons{
	
	top: 45%;

}
#owl-demo .owl-next{
	position: absolute;
	right: 0;
	top: 45%;
}

#owl-demo .owl-prev{
	position: absolute;
	left: 0;
	top: 45%;

}
.menu-info-block{
	width: 160px;
	position: relative;
	margin: 0 auto;
	margin-top: 14px;
	text-align: center;
font-family: 'Open Sans', sans-serif;
	padding: 17px 0 6px 0;
	border-top: 1px solid #FFF;
	color: #FFF;
}
.menu-info-block p{
	font-size: 0.74em;
	letter-spacing: 2px;
	margin-bottom:0;
	margin: 0;
}
.menu-info-block p:nth-child(2){

}
.menu-info-block span{
font-size: 12px;
letter-spacing: 2px;

}
.clear{
	clear:both;
}
.menu-info-block a{
	display: inline-block;
	font-size: 18px;
	padding: 7px;
	padding-top: 0;
}
.home-products-block{
margin-top: 25px;
position:relative;
margin-left: auto;
margin-right: auto;
float: none;
}

.home-product-item {
position: relative;
margin-bottom: 95px;
}
.home-product-item img{
width:100%;	
}

.home-product-label{
position: absolute;
bottom:0;
text-align: center;
width: 100%;
left: 0;
height: 83px;
overflow: hidden;
font-family: 'Open Sans', sans-serif;
}

.home-product-label h2{
background: #FFF;
width: 80%;
font-family: 'Open Sans', sans-serif;
margin: 0 auto;
padding: 25px 8px;
font-size: 29px;
color: #E10915;
font-weight: 100;
}
.home-product-label h2 p{
	color: #000;
	font-size: 13px;
	margin-top: 20px;
	padding-top: 6px;
	border-top: 1px solid #6E6E6E;
}

.home-product-label-outer{
	text-align: center;
	font-size: 14px;
	position: absolute;
	width: 100%;
	left: 0;
	padding: 7px 12px;
	font-family: 'GothamBook','open sans' !important;
}
    #owl-demo2 .item{
        margin: 3px;
        padding: 20px;
    }
    #owl-demo2 .item img{
        display: block;
        width: 100%;
        height: auto;
    }
    .home-brands-block{
    	
    	margin-top: 15px;
		padding-top: 20px;
		margin-bottom: 20px;

    }
.title-head{
	color: #EC1D25;
	font-family: 'Open Sans', sans-serif;
	border-top: 1px solid #EC1D25;
	border-bottom: 1px solid #EC1D25;
	display: block;
	width: 241px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	padding: 8px;		
	letter-spacing: 4px;
	text-transform: uppercase;
}
.long-title-head{
	color: #EC1D25;
	font-family: 'Open Sans', sans-serif;
	border-top: 1px solid #EC1D25;
	border-bottom: 1px solid #EC1D25;
	display: block;
	text-align: center;
	margin: 0 auto;
	position: relative;
	padding: 8px;
	width: 90%;
	letter-spacing: 4px;
	text-transform: uppercase;
	font-size: 19px;
}
.home-brands-block-carousel{
	float: none;
	margin: 0 auto;
	
}

#owl-demo2 .owl-next{
	position: absolute;
	right: -41px;
	top: 16%;
	font-size: 30px;
}

#owl-demo2 .owl-prev{
	position: absolute;
	left: -41px;
	top:  16%;
	font-size: 30px;

}
.middle-span{
	height:100%;
	display: inline-block;
	vertical-align: middle;
}
.home-university-block{
position: relative;
	
}
.university-text{
	position: absolute;
	right: 52px;
	top: 38px;
	width: 492px;
	background: rgba(0, 0, 0, 0.73);
	font-family: 'Open Sans', sans-serif;
	padding: 15px;
	font-weight: 300;
	text-transform: uppercase;
	
}
.university-text h3{
	color:#fff;
	    font-size: 30px;
}
.university-text span{
	display: block;
	
}
.mid-text{
	display: block;
	font-size: 42px;
	color: #EC1D25;
}
.bottom-text{
	text-align: right;
	
}
.absolute-box-button{
	color: #FFF;
	background: #EC1D25;
	border-radius: 1px;
}
.absolute-box-button:hover{
	color:#EC1D25;
	background:  #FFF;	
	border: 1px solid #EC1D25;
}
.txt-right{
	text-align: right;
	margin: 0;
}
.home-news-block{
	margin-top: 30px;
	padding: 15px;
	background: #F7F7F7;
	position: relative;
}

.news-left{
font-family: 'Open Sans', sans-serif;
}

.news-right{
	font-family: 'Open Sans', sans-serif;
padding: 0;
}

.news-right h4{
	margin-top: 0;
}

.news-right span{
	color: #E10915;
	font-size: 11px;

}
#owl-demo{
min-height:500px;
}
#owl-demo .loading {
min-height:500px;
}
.news-right p{
	
	font-size: 12px;
	font-family: 'GothamBook','open sans' !important;
}
.home-news-block-carousel{
	margin-top: 30px;
	
}
.quote-block{
	text-align: center;
	background: #E10915;
	color: #FFF;
	padding: 25px;
	
}
.quote-block h2{
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 4px;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 21px;
line-height: 29px;
}

.footer-newsletter{
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
	margin-top: 5px;
	margin-bottom: 5px;
	
}

.footer-newsletter h3{
	display: block;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	margin: 0;
	padding: 10px;
	vertical-align: middle;
	font-size: 22px;
	margin-bottom: 10px;
}
.newsletter-form-block{
	display: inline-block;
	margin-bottom: 14px;
}
.newsletter-input{
	padding: 5px;
	width: 270px;
	vertical-align: top;
}
.onestopshop-h3{
text-align: center;
font-family: 'GothamBook','open sans';
font-size: 18px;
font-weight: 600;
letter-spacing: 2px;
margin-top: 27px;
color: #FFF;
background: #E10915;
padding: 15px;
}
.main-news-section{
margin-bottom: 30px;
margin-top: 15px;
position:relative;
min-height: 185px;
}
		.fixed-inquiry{
			position: fixed;
			height: 70px;
			bottom: 0;
			right: 40px;
			z-index: 100;
			cursor: pointer;
			width: 220px;
			overflow: hidden;
			text-align: right;
		}
		.fixed-inquiry-link{
			color: #FFF;
			padding: 7px 25px 14px 25px;
			height: 100%;
			background: #E10915;
			display: inline-block;
			font-family: 'Crete Round', serif;
			font-size: 44px;
			text-decoration: none;
			z-index: 100;
			position: relative;
	
		}
		.fixed-inquiry-link:hover{
			color:#fff;
			text-decoration: none;
		}
		.fixed-inquiry-link i{
			font-size: 20px;
		}
		.fixed-inquiry-opened{
			padding: 21px 13px 18px 12px;
			background: #FF434E;
			height: 100%;
			color: #FFF;
			font-size: 20px;
			margin-right: -125px; 
			display: inline-block;
			position: relative;
			vertical-align: top;
			letter-spacing: 2px;
			text-transform: uppercase;
			-webkit-transition: all 200ms;
			-moz-transition: all 200ms;
			-o-transition: all 200ms;
			transition: all 200ms;
		}
		.fixed-inquiry-opened:focus,.fixed-inquiry-opened:hover {
			color: #FFF;
			text-decoration:none;
		}
		.fixed-inquiry:hover .fixed-inquiry-opened{
		margin-right: -4px;
		}
.footer{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	padding: 25px;
}

.footer h3{
	margin-top: 0;
	font-weight: 300;
	font-size: 30px;
	color: #847B7B;
	letter-spacing: 1px;
}

.footer-social-icons{
	
	
}

.footer-social-icons-link{
	background: #C5C5C5;
	padding: 11px;
	display: inline-block;
	color: #FFF;
	font-size: 21px;
	border-radius: 50%;
	width: 50px;
	cursor: pointer;
	height: 50px;
	border: 1px solid #C5C5C5;
}
.footer-social-icons-link .fa{
	
	
}
.footer-social-icons-link:hover{
	color: #C5C5C5;
	border:1px solid #C5C5C5;
	background: #fff;
}

.footer-copy{
	text-align: center;
padding: 15px;
border-top: 1px solid #E5E5E5;
}

.footer-copy p{
	font-size: 12px;
	margin-bottom: 0;
}


.news-inner-block{
	position: relative;
	 padding: 25px;

	
}

.news-right .btn{
	font-size: 12px;
}
.news-inner-block{
	

}

.news-inner-block .title-head{
	margin-bottom: 25px;

}

.news-inner-block .news-left{
	
} 

.news-inner-block .news-left img{
	width:100%;
} 

.news-archive-block{
	position: relative;
	padding: 25px;
	
}
.seprator-title{
	color:#e10915;
	letter-spacing: 3px;
	margin: 0;

}

.news-archive-inner{
	padding: 20px 0;

	
}
.news-archive-inner ul{
	padding: 0;
}

.news-archive-inner ul li{
padding: 0;
display: inline-block;
margin-bottom: 4px;
font-size: 12px;
}

.news-archive-inner ul li span{
		color:#e10915;
	
}
.news-archive-inner ul li a{
	color: #000;
cursor: pointer;
}

.img-responsive{
	width: 100%;	
}

.inquiry-form-block{
	padding: 0 0 0 0;
	background: #F2F2F2;
}
.form-gallery{
	padding: 0;
	margin-top: 0;
}
.form-gallery-top{
	padding: 0;	
}

.form-gallery-left,.form-gallery-right{
	padding: 0;
}

.inner-inquiry-box{
	background:rgba(0, 0, 0, 0.63);
	position: absolute;
	width: 100%;
	bottom: 0px;
	cursor: pointer;
}
.inner-inquiry-box a{
	color: #FFF;
	font-size: 14px;
	display: inline-block;
}
.inner-inquiry-box a img{
	margin-right: 10px;
}

.inner-inquiry-box p{
	color: #FFF;
	padding: 5px 11px 0px 11px;
	font-size: 13px;
	margin-bottom: 0;
	font-family: 'GothamBook','open sans' !important;
}

.inner-inquiry-box .absolute-box-button{
	font-size: 12px;
	padding: 4px;
}

.right-aligned{
	text-align: right;
	margin-bottom: 4px !important;
}

.inquiry-form-inner .form-row{
	
}

.form-row-input{
	display: block;
	width: 100%;
	padding: 9px;
	margin-bottom: 15px;
	font-size: 13px;
}
.inquiry-form-inner{
	margin-top: 20px;
	padding: 48px;

}
.form-row-textarea{
	display: block;
	width: 100%;
	height: 100px;
	padding: 5px;
}
.marginedtop{
	margin-top: 20px;
	
}
.marginedbottom{
	margin-bottom: 20px;
	
}
.inquiry-form-inner input[type="submit"]{
	font-size: 22px;
}
.salamon-inquiry-form-inner{
	padding: 0 47px;
	position: relative;
}
.smoked-salmon-popup .modal-content{
	padding-top: 25px;
	padding-bottom: 25px;
}
.form-row-select{
	display: block;
	width: 100%;
	padding: 7px;
	margin-bottom: 15px;
}
.salamon-inquiry-form-inner input[type="submit"] {
	font-size: 22px;
}
.center-aligned{
	text-align: center;
}
.inquiry-form-block{
	background: url(../images/salmon-form-bg.jpg) no-repeat center top;
	padding: 26px;
	background-size: cover;
}
.illy-store-block{
	background: url(../images/illy-store-bg.jpg) no-repeat center top;
	padding: 26px;
	background-size: cover;	

}
.careers-form-block{
	background: url(../images/careersbg.jpg) no-repeat center top;
	padding: 26px;
	background-size: cover;	

}
.careers-form-text{
	font-family: 'GothamBook','open sans' !important;
	margin: 25px 0px;
}
.aboutus-text{
	font-family: 'GothamBook','open sans';
	text-align: center;
	width: 70%;
	margin: 0 auto;
}

.aboutus-block h3{
	text-align: center;
	font-family: 'GothamBook','open sans';
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 2px;
}
.aboutus-timeline-block{
	padding:20px 0;
	background: url(../images/timeline-bg.jpg) no-repeat center top;
	background-size: cover;
}
.aboutus-boxed-head{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
	text-align: center;
	background: rgba(255, 255, 255, 0.77);
	padding: 12px;
	margin-top: 0;
}

.aboutus-timeline-inner{
	background: rgba(204, 204, 204, 0.48);
	position: relative;
	margin-top: 230px;
	text-align: center;
	padding: 10px 0;
}

.aboutus-timeline-milestone{
	width: 80px;
	display: inline-block;
	height: 80px;
	border: 1px dashed #FFF;
	color: #FFF;
	font-size: 19px;
	text-align: center;
	border-radius: 50%;
	border-width: 2px;
		-webkit-transition: all 200ms; /* For Safari 3.1 to 6.0 */
	-moz-transition: all 200ms; /* For firefox 3.1 to 6.0 */
		-o-transition: all 200ms; /* For opera 3.1 to 6.0 */
    transition: all 200ms;
}

.aboutus-timeline-milestone span{
	background: #FFF;
	color: #000;
	padding: 17px 10px;
	display: inline-block;
	margin: 8px 0;
	border-radius: 50%;
	cursor: pointer;

} 
.aboutus-timeline-milestone:hover{
		-ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Chrome, Safari, Opera */
   	-moz-transform: scale(1.1); 
    transform:  scale(1.1);
}
.aboutus-timeline-milestone:hover span{
	background: #343434;
	color:#FFFFFF;	

}

#owl-demo-timeline .item{
	margin: 5px 0;
}

.illy-store-block-btn{
	display: block;
	text-align: right;
	position: relative;
	width: 94%;
	margin: 0 auto;
}
/* 
-------------------------------------
Themes
-------------------------------------
*/

#themes .themes span {
	display: inline-block;
	padding: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
	opacity: 0.8;
}

.tooltipster-default-preview {
	border-radius: 5px; 
	border: 2px solid #000;
	background: #4c4c4c;
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
	font-weight: 400;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.tooltipster-light-preview {
	border-radius: 5px; 
	border: 1px solid #cccccc;
	background: #ededed;
	color: #666666;
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
	font-weight: 400;
}

.tooltipster-punk-preview {
	border-radius: 5px;
	border-bottom: 3px solid #f71169;
	background: #2a2a2a;
	color: #fff;
	font-family: 'Courier', monospace;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
	font-weight: 400;
}

.tooltipster-noir-preview {
	border-radius: 0px;
	border: 3px solid #2c2c2c;
	background: #fff;
	color: #2c2c2c;
	font-family: 'Georgia', serif;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
	font-weight: 400;
}

.tooltipster-shadow-preview {
	border-radius: 5px;
	background: #fff;
	box-shadow: 0px 0px 14px rgba(0,0,0,0.3);
	color: #2c2c2c;
	font-family: 'Arial', sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
	font-weight: 400;
}

/* 
-------------------------------------
Tooltips
-------------------------------------
*/

#demos span.tooltipster-icon {
	cursor: help;
	margin-left: 4px;
	background: #0078c9;
	border: 3px solid #0078c9;
	width: 2.3em;
	height: 2.3em;
	padding: 0.4em 0 0;
	margin: 2em 0 0 -3em;
}

.tooltipster-default .tooltipster-content {
	font-family: 'Open Sans', sans-serif;
}
.tooltipster-default .tooltipster-content img {
	float: left;
	margin-right: 10px;
	border: 2px solid #000;
}
.tooltipster-default .tooltipster-content p {
	margin: 0;
}
.tooltipster-default .tooltipster-content a {
	color: #fff;
	border-bottom: 1px solid rgba(255,255,255,0.4);
}
.tooltipster-default .tooltipster-content a:hover {
	color: #fff;
	border-bottom: 1px solid rgba(255,255,255,1);
}

.tooltipster-blue {
	background: #0078c9;
	color: #fff;
	border-radius: 5px;
}
.tooltipster-blue .tooltipster-content {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
}

.tooltipster-white {
	background: #fff;
	color: #0078c9;
	border-radius: 5px; 
}
.tooltipster-white .tooltipster-content {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
}

.tooltipster-pink {
	background: url(../images/pattern-navy.png);
	background-color: #E10915;
	color: #fff; 
	border-radius: 5px;	
	box-shadow: inset -3px -3px 0 #E10915;
}
.tooltipster-pink .tooltipster-content {
	font-family: 'GothamBook','open sans';
	font-weight: 400;
	font-size: 17px;
	line-height: 19px;
	padding: 24px 28px;
}


.onestopshop-block{
	margin-top: 0;
	padding:  50px 150px;
	position: relative;
}

.family-block{
	width:100%;
	height:400px;
	background: url(../images/family.jpg) center center;
	background-size:cover;
	position: relative;

}

.family-block-title{
	background: rgba(52, 52, 52, 0.71);
	padding: 12px;
	text-align: right;
	direction: rtl;
	text-indent: 55px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	width: 100%;
	position: absolute;
	bottom: 30px;
	font-size: 24px;
	color: #FFF;
}
.family-block-title span{
	color: #E10915;;
}

.facilites-block{
	margin-top: 30px;
}
.facilites-inner{
	margin-top: 30px;
	position: relative;
}
.facilites-item{
	position: relative;
	text-align: center;
	margin-bottom: 10px;
}
.facilites-item p{
	font-family: 'GothamBook','open sans';
	margin-top: 10px;

}

.university-courses-block{
	margin-top: 30px;
	position: relative;
}

.university-courses-inner{
	padding: 0;
}

.university-courses-item{
	padding: 0;
	position:relative;
	width: 20%;
	overflow: hidden;
	
}
.university-courses-overlay{
	width: 100%;
	background: rgba(0, 0, 0, 0.68);
	color: #FFF;
	position: absolute;
	height: 100%;
	bottom: -82%;
		-webkit-transition: all 350ms  ease-in; /* For Safari 3.1 to 6.0 */
	-moz-transition: all 350ms  ease-in; /* For firefox 3.1 to 6.0 */
		-o-transition: all 350ms  ease-in; /* For opera 3.1 to 6.0 */
    transition: all 350ms  ease-in;
}
.course-num{
	letter-spacing: 2px;
	margin: 0;
	padding: 15px 15px 0 15px;
}
.university-courses-overlay h3{
	margin: 2px 0 2px 0px;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 2px;
	padding: 0 15px 15px 15px;
}
.university-courses-overlay ul{
	
}
.university-courses-overlay ul li{
	font-weight: 100;
	width: 95%;
	font-size: 13px;
}
.course-price{
	padding: 10px;
	border-top: 1px solid;
	width: 94%;
	position: relative;
	margin: 21px auto;
}
.course-price-title{
	letter-spacing: 2px;
text-transform: uppercase;
font-size: 15px;
}
.course-price-value{
	float: right;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 19px;
	font-weight: 200;
	margin-top: -4px;
}
.university-courses-item:hover .university-courses-overlay{
	bottom: 0;
}


.brands-filters-block{
	text-align: center;
	margin: 16px;
	border-top: 1px solid #EFEFEF;
	border-bottom: 1px solid #EFEFEF;
	padding: 16px;
	position: relative;
}
.brands-filters-block .active{
	background: #FFF;
	color: #EC1D25;
	border: 1px solid;
	box-shadow: 0 0;
}
.brand-brief-container{
	background: #F7F7F7;
	padding: 20px 0px;
	position: relative;
}
.brand-brief{
	font-family: 'GothamBook','open sans';
	text-align: center;
	width: 70%;
	margin: 0 auto;
}
.brand-brief-text{
	font-family: 'GothamBook','open sans';
	text-align: center;
	width: 70%;
	margin: 0 auto;
}
.brand-brief h3{
	text-align: center;
	font-family: 'GothamBook','open sans';
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 2px;
}

.brand-products-items-container{
	margin: 43px auto;
	position: relative;
	width: 93%;
}
.brand-top-image{
	margin-bottom: 17px;
}
.brand-products-item{
	text-align: center;
	position: relative;
	margin-bottom: 25px;
}
.brand-products-img{
	border: 1px solid #E0E0E0;
	height: 200px;
}
.brand-products-title{
	margin: 10px 0 0 0;
color: #E10915;
}
.brand-products-titlesub{
	font-size: 12px;
}
.brand-products-items-inner{
	margin-top: 25px;
margin-bottom: 25px;
position: relative;
}
.brand-products-share{
	position: relative;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	width: 90%;
	margin: 10px auto;
	padding: 6px;
	text-align: left;
}
.share-product{
	color: #CCC;
	display: inline-block;
	font-size: 22px;
	cursor: pointer;
	margin-right: 8px;
}
.share-product:hover{
	color: #AEAEAE;
}
.dwn-pdf{
	float: right;
	height: 100%;
	display: inline-block;
	font-size: 20px;
	color: #E10915;
	cursor: pointer;
}
.dwn-pdf:hover{
	color: #E10915;
	
}
#blog-landing {
margin-top: 22px;
position: relative;
max-width: 100%;
width: 100%;
}
.gallery-container #blog-landing .white-panel img{
	width: 100%;
}
.white-panel {
position: absolute;
background: white;
box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
padding: 10px;
}
.white-panel h2 {
font-size: 1em;
}
.white-panel h2 span {
color: #A92733;
}
.white-panel:hover {
box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
margin-top: -5px;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
.gallery-container{
	float: none;
	position: relative;
	margin: 0 auto;
	margin-bottom: 60px;
}
	.menu{
		position: relative;
		zoom:0.9;
			-moz-transform: scale(0.9);
		-moz-transform-origin: 0 0;
	}
	.inner-pages-banner{
		overflow:hidden;
		min-height:280px;
	}
	.brands-filters-block .btn{
	margin:1px;
	}
	.brands-filter-select{
		display:none;
	}
 @media(max-width : 992px) {
.show-menu .icon-list{
	
		overflow: auto;
	}
	.university-courses-overlay {
		bottom: -83%;
	}
	.university-courses-overlay h3{
		font-size: 15px;
	}
	
}

/* */
@media (max-width: 768px) {
	.news-left img{
		width:100%;
	}
	.inner-pages-banner{
		min-height:150px;
	}
	.news-right{
		padding: 15px;
		text-align: center;
	}
	.newsletter-form-block input[type="submit"]{
		margin-top: 15px;
	}
	.newsletter-form-block input[type="email"]{
		width: 100%;
	}
	.inner-inquiry-box a{
		font-size: 12px;
	}
	.inner-inquiry-box a img {
		margin-right: 5px;
	}
	.inquiry-form-inner{
		padding: 20px;	
	}
	.mobcenter{
		text-align: center;
	}
	.salamon-inquiry-form-inner {
		padding: 0 20px;
	}
	.careers-form-block{
		padding: 4px;
	}
	.aboutus-text {
		width: 78%;
	}
	.brand-brief-text{
		width: 78%;
		
	}
	.onestopshop-block{
		padding: 20px 20px;
	}
	.university-courses-item{
		width:50%;
	}
	#owl-demo .item{
		overflow: hidden;
	}
	#owl-demo .item img {
		width:155%;
		margin-left:-12%;
	}
	#owl-demo{
		min-height:170px;
	}
	#owl-demo .loading {
		min-height:170px;
		}
	#owl-demo2 .owl-next {
		position: absolute;
		right: -26px;
		top: 22%;
	}
	#owl-demo2 .owl-prev {
		position: absolute;
		left: -26px;
		top: 22%;
	}
	
	.menu-wrap
	{
			zoom: 0.9;
	-moz-transform: scale(0.9);
	-moz-transform-origin: 0 0;
	}
	.show-menu .icon-list{
		
			overflow: auto;
		}
		.footer-newsletter h3{
		font-size: 12px;
		font-weight: 600;
		line-height: 17px;
	}
	
	.inner-pages-banner img {
		width: 170%;
		max-width: 170%;
		margin-left: -30%;
	}
	.brands-filter-select{
		display:inline-block;
		width: 81%;
		padding: 9px;
	}
	.brands-filters-block .btn{
		display:none;
	}
	
}

@media (max-width: 480px) {

	.university-courses-item{
		width:50%;
	}
	.university-courses-overlay{
	
	}
		#owl-demo2 .owl-next {
		position: absolute;
		right: -26px;
		top: 9%;
	}
	#owl-demo2 .owl-prev {
		position: absolute;
		left: -26px;
		top: 9%;
	}
	.university-text h2 {
		font-size: 13px;
		margin-top: 0;
	}
	.mid-text {
		display: block;
		font-size: 17px;
	}
	.university-text {
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		background: rgba(0, 0, 0, 0.73);
		font-family: 'Open Sans', sans-serif;
		padding: 15px;
		font-weight: 300;
		height: 100%;
		text-transform: uppercase;
	}
	.university-text .bottom-text{
		width:60.6%;
	}
.menu-wrap
{
		zoom: 0.75;
-moz-transform: scale(0.75);
-moz-transform-origin: 0 0;
}
	.show-menu .icon-list{
	
		overflow: auto;
	}
	.menu-button{
		zoom: 0.68;
		-moz-transform: scale(0.68);
		-moz-transform-origin: 0 0;
		margin: 0;
	}
	.hdr-logo{
		zoom: 0.7;
		-moz-transform: scale(0.7);
		-moz-transform-origin: 0 0;
	}
	.inner-pages-banner img{
		width:auto;
		height:100%;
	}
	.inner-pages-banner img {
		width: 200%;
		max-width: 200%;
		margin-left: -35%;
	}
	.footer-newsletter h3{
		font-size: 12px;
		font-weight: 600;
		line-height: 17px;
	}
	.quote-block {
		text-align: center;
		background: #E10915;
		color: #FFF;
		padding: 4px 6px 13px 6px;
	}
	.quote-block h2 {
		font-size: 16px;
		line-height: 22px;
	}
	.onestopshop-h3 {
		text-align: center;
		font-family: 'GothamBook','open sans';
		font-size: 14px;
	}
	.facilites-item img{
		width:80%;
	}
	.facilites-item p {
		height: 90px;
	}
	.inquiry-form-block {
		background: url(../images/salmon-form-bg.jpg) no-repeat top;
		background-position: 79% 0;
		background-size: cover;
	}
	.university-courses-overlay {
		bottom: -78%;
	}
	.university-courses-overlay h3 {
		font-size: 12px;
	}
	.illy-store-block-btn{
		display: block;
		text-align: center;
		opacity:0.9;
	}

}
@media (max-width: 390px) {
	.university-courses-item{
		width:100%;
	}
		.university-courses-overlay{
		bottom:-86%;
	}
	.university-courses-overlay h3{
		font-size:15px;
	}
}
@media (max-width: 320px) {

}