body {
    margin:40px 0
}
.text-cenetr {text-align: center}
.about-paragraph {
    width: 70%;
    text-align: center;
    margin: 7px auto 27px auto;
}
h1{
    text-transform: uppercase;
    color: #f00;
    font-size: 42px;
    font-weight: 100
}
.logo {
    width: 100px;
}
.btn {
    background: #f00;
    color: #fff;
    width: 154px;
    text-align: center;
    padding: 6px 0;
}
.btn span {
    margin-left:5px
}
.products {
    width: 600px;
    z-index: 5;
    transform: translateY(75px);
}
.hr {
    width: 100%;
    display: block;
    height: 127px;
    background-image: linear-gradient(#00000066, #eee);
    box-shadow: 4px -57px 100px 20px #00000052;
}
p , h1 , a {font-family: 'Signika Negative', sans-serif;text-align:center}

@media (max-width:660px){
	.products , .hr {display:none}
	.copyright {margin-top:20px}
	
}